.Candidate-card {
  background-color: white;
  border-radius: 25px;
  padding: 20px 20px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
  box-sizing: border-box;
}

h2 {
  color: black;
  font-size: small;
  text-align: center;
}

img {
  align-self: center;
  max-width: 100%;
  max-height: 100%;
}
